* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #426696;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
}
h2,
p {
  color: #658ec6;
  font-weight: bold;
  opacity: 0.8;
}

h3 {
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
}
a {
  text-decoration: none;
  color: none;
}

main {
  font-family: 'Capriola', sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  backdrop-filter: blur(20px);
  display: flex;
}
.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 15%;
  animation: circle-animo-1 23s ease-in-out infinite;
}
.circle2 {
  bottom: 5%;
  left: 10%;
  animation: circle-animo-2 23s ease-in-out infinite;
}
.left-board {
  flex: 1;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.links {
  width: 100%;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left-board .link {
  cursor: pointer;
  user-select: none;
}
.left-board .link:hover {
  text-decoration: underline;
  text-decoration-color: #658ec6;
}

.link {
  width: 100%;
  display: flex;
  margin: 2rem 0rem;
  padding: 1rem 5rem;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.link h2 {
  padding: 0rem 2rem;
}

.games {
  flex: 2;
}

.pro {
  width: 90%;
  margin: auto;
  padding: 1rem;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  border-radius: 2rem;
  color: white;
  user-select: none;
}

.pro img {
  position: absolute;
  top: -10%;
  right: 10%;
}
.pro h2 {
  width: 90%;
  margin: auto;
  color: white;
  font-weight: 600;
}
.about-chat-info {
  position: absolute;
  bottom: 10%;
}

/* RIGHT BOARD */
.status {
  margin-bottom: 3rem;
}

.status input {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border: none;
  width: 50%;
  padding: 0.5rem;
  border-radius: 2rem;
}

.right-board {
  padding: 6rem 2rem;
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card {
  display: flex;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
  margin: 2rem 0rem;
  padding: 2rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  justify-content: space-between;
}

.progress {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  width: 100%;
  height: 25%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}
.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(236, 236, 236);
  position: absolute;
  left: 60%;
}
.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.percentage {
  font-weight: bold;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.authorized-block {
  /* border: 1px solid; */
  width: 100%;
  margin-top: 10%;
  padding: 0 5rem;
}
.form-block {
  margin-bottom: 2%;
}
.form-block h2 {
  font-weight: bold;
}
.form-block input {
  width: 300px;
  margin-top: 5px;
  outline: 0;
  padding: 0.4rem;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 15px;
  font-weight: bold;
  font-family: 'Capriola', sans-serif;
}
.form-block input::placeholder {
  color: rgba(0, 0, 0, 0.19);
}
.password-input {
  display: flex;
  align-items: center;
}
.password-shower {
  margin-top: 5px;
  margin-left: 10px;
  padding: 0.4rem 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 15px;
  cursor: pointer;
}
.auth-button {
  margin-top: 25px;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 1rem;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  font-family: 'Capriola', sans-serif;
  font-size: 1.4rem;
  color: #ffffff;
  outline: 0;
  cursor: pointer;
}

@keyframes circle-animo-1 {
  0% {
    top: 5%;
    right: 15%;
  }
  50% {
    top: 50%;
    right: 65%;
  }
  75% {
    top: 50%;
    right: 15%;
  }
  100% {
    top: 5%;
    right: 15%;
  }
}
@keyframes circle-animo-2 {
  0% {
    bottom: 5%;
    left: 10%;
  }
  50% {
    bottom: 50%;
    left: 65%;
  }
  75% {
    bottom: 50%;
    left: 15%;
  }
  100% {
    bottom: 5%;
    left: 15%;
  }
}